<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<clear />
		<add name="DiyAbcBotConnectionString" connectionString="Server=119.23.131.93;Database=webshop;Uid=develop;Pwd=bba88468456;charset=utf8;pooling=true;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="torConfigurationFile" value="" />
		<add key="torControlPassword" value="" />
		<add key="torControlPort" value="9051" />
		<add key="torDefaultConfigurationFile" value="" />
		<add key="torPath" value="Tor\Tor\tor.exe" />
		<!--上传的图片资料根目录 sitecontent -->
		<add key="sitecontent" value="diyabc" />
		<!--产品上传接口 -->
		<!--<add key="ApiUrl" value="http://192.168.1.119:8080" />-->
		<add key="ApiUrl" value="http://www.diyabc.com" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>